*{margin:0;padding:0;}
html,body{width:100%;height:100%;overflow:hidden;}
ul{list-style:none;}
#main{width:640px;height:1080px;position:absolute;left:50%;top:0;margin-left:-320px;-webkit-transform-origin:top;}
.slide li{width:100%;height:100%;position:absolute;left:0;top:0;}
.slide li:nth-child(1){background: url(images/1.jpg) no-repeat;}
.slide li:nth-child(2){background: url(images/2.jpg) no-repeat;  }
.slide li:nth-child(3){background:url(images/3.jpg) no-repeat;  }
.slide li:nth-child(4){background:url(images/4.jpg) no-repeat;}
.zIndex{z-index:111;}

/*第一页style*/
.a1{position:absolute;width:100%;height:100%;text-align:center;}
#a1 p:nth-child(1){position: absolute;top:70%;left:28%;-webkit-transition: 0s;color:#fff; line-height:50px; font-size:50px; font-weight:bold;text-align: center;}
#a1 p:nth-child(2){position: absolute;top:25%;left:32%;}
#a1 p:nth-child(3){position: absolute;top:10%;left:17%;}
#a1 p:nth-child(4){position: absolute;top:76%;left:0;}
@keyframes ap1 {
    0%,100%{transform: scale(1)}
    50% {transform: scale(1.2)}
}
@keyframes ap2 {
    0%,100%{opacity: 1;}
    50%{opacity:0.2;}
}
.a1 p:nth-child(2){-webkit-animation:ap1 2s infinite;}
.a1 p:nth-child(4){-webkit-animation:ap2 2s infinite;}


/*第二页*/
.a2 p{width:100%;height:90px;position:absolute;left:50%;margin-left:0;margin-top:0;}
#a2 p{-webkit-transform: rotate(720deg);-webkit-transition: 1s;color:white;font-size:30px;}
#a2 p:nth-child(1){top:66%;left:36%;-webkit-transition: 0.5s;}
#a2 p:nth-child(2){top:71%;left:36%;-webkit-transition: 1s;}
#a2 p:nth-child(3){top:77%;left:36%;-webkit-transition: 1.5s;}
#a2 p:nth-child(4){top:83%;left:36%;-webkit-transition: 2s;}

/*第三页面style*/
.a3 p{width:300px;height:90px;position:absolute;left:50%;margin-left:0;margin-top:0;}
#a3 p{color:white;font-size:40px;font-weight: bold;}
#a3 p:nth-child(1){top:66%;left:7%;color:#0044DD;-webkit-transform:translate(0,0);-webkit-transition: 0.5s;}
#a3 p:nth-child(2){top:71%;left:20%;color: #fcfff6;-webkit-transform:translate(0,0);-webkit-transition: 1s;}
#a3 p:nth-child(3){top:77%;left:36%;color: #eee924;-webkit-transform:translate(0,0);-webkit-transition: 1.5s;}
#a3 p:nth-child(4){top:83%;left:70%;color: #32ff11;-webkit-transform:translate(0,0);-webkit-transition: 2s;}

/*第四页面内容style*/
.a4 p{width:320px;height:90px;position:absolute;left:50%;margin-left:0;margin-top:0;}
#a4 p{color:white;font-size:20px;font-weight: bold;}
#a4 p:nth-child(1){top:65.6%;left:5.5%;color:#0044DD;-webkit-transform:translate(0,0);-webkit-transition: 1s;}
#a4 p:nth-child(2){top:75.5%;left:53%;color: #fcfff6;-webkit-transform:translate(0,0);-webkit-transition: 2s;}
#a4 p:nth-child(3){top:84.8%;left:15.5%;color: #0d0d02;-webkit-transform:translate(0,0);-webkit-transition: 3s;}

.tip{border:10px solid white;bottom:10px;left:50%;margin-left:-10px;position: absolute;z-index: 999;}
.tip{border-color:transparent transparent white transparent }
@keyframes tipMove {
    0%,100%{opacity: 1;bottom:10px;}
    50%{opacity: 0.2;bottom: 30px;}
}

.tip{-webkit-animation: tipMove  1.5s infinite}